.search-video-container {
  border-bottom: 1px solid #ccc;
  .icon-searchs {
    position: absolute;
    left: 10px;
    cursor: pointer;
    font-size: 1.8rem;
    padding: 10px 10px 10px 0;
  }
  .item-control-video {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    .item-control-video {
      width: 25%;
    }
  }
}
