.stepThree-container {
  .input-text-group {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 160%;
    /* identical to box height, or 26px */

    letter-spacing: 0.01em;

    /* Text/Title */

    color: var(--color-text-title);
    border-left-color: transparent;
  }
  .boder-right-none {
    border-right-color: transparent;
  }
}
