.view-product-header {
  padding: 32px 0;
  p {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 160%;
    /* identical to box height, or 26px */

    letter-spacing: 0.01em;

    /* Text/Title */

    color: var(--color-text-title);
  }
  .select-filter-view {
    padding: 8px 25px 8px 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 160%;
    /* identical to box height, or 26px */

    letter-spacing: 0.01em;

    /* Text/Title */

    color: var(--color-text-title);
  }
  .search-product {
    @media screen and( max-width: 500px ) {
      width: 100%;
    }
    .search-product-content {
      @media screen and( max-width: 500px ) {
        width: 100%;
      }
      .icon-search {
        position: absolute;
        font-size: 1.8rem;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
        padding: 10px;
        color: rgb(65, 63, 63);
      }
      .icon-slider {
        font-size: 1.8rem;
        padding-left: 10px;
        cursor: pointer;
      }
    }
    .search-product-input {
      padding: 12px 30px;
    }
    .search-product-select {
      width: 250px;
      margin-right: 20px;
      @media screen and( max-width: 500px ) {
        margin-bottom: 10px;
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
.view-product-controls {
  span {
    font-size: 1.6rem;
  }
  .icon-grid {
    padding: 0 10px;
    cursor: pointer;
  }
  .icon-bars {
    font-size: 1.8rem;
    cursor: pointer;
  }
}
