.footer-container {
  background: linear-gradient(180deg, #1d2428 0%, #0c0f13 100%);
  .select-language {
    margin-top: 18px;
    padding: 6px 12px;
    border: 1px solid #ececec;
    border-radius: 100px;
    background-color: transparent;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 230%;
    /* identical to box height, or 37px */

    letter-spacing: -0.015em;

    color: #e8e8e8;
    // background-image: url("../../assets/images/chevron-down.png");
    // background-repeat: no-repeat;
    // background-position: right 0.75rem center;
    // background-size: 20px 12px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:active {
      background: transparent;
    }
    img {
      width: 30px;
      height: 20px;
      padding-right: 6px;
    }
  }
}
.footer-content {
  padding: 90px 50px;
  img {
    width: 140px;
    height: 170px;
  }
  h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */

    letter-spacing: -0.01em;

    /* Featured */

    color: var(--color-featured);
    text-align: left;
  }
  .list-unstyled {
    text-align: left;
    padding-top: 9px;
    li {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 230%;
      /* or 37px */

      letter-spacing: -0.015em;

      a {
        color: #e8e8e8;
        text-decoration: none;
        &:hover {
          color: var(--color-featured);
        }
      }
    }
  }
}
.dropdown-language {
  width: 100%;
  border-radius: 10px;
  .dropdown-item {
    padding: 10px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 230%;
    /* identical to box height, or 37px */

    letter-spacing: -0.015em;

    color: var(--color-text-title);
    border-bottom: 1px solid #ccc;
    &:hover {
      background-color: var(--color-featured);
      color: #e8e8e8;
    }
  }
  img {
    width: 30px;
    height: 20px;
    padding-right: 6px;
  }
}
